

#org-div{
    background-color: blue;
    /* border: red solid; */
    height: 40%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.div-1{
    /* border: black solid; */
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#div-change{
    /* border: rebeccapurple solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 20%;
    gap:10px;
}


